html {
    scroll-behavior: smooth;
    
  }
/* body{
    background-color: #f8f7f7;
} */


.navbar{
    
    background-image:linear-gradient(to right,white 3%,rgb(21, 139, 139),white); 
}

@media  (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{ color:#ffffff;  }
	.navbar .nav-item:hover .dropdown-menu{ display: block;}
	
}	

.nav-link{
    font-size: 18px;
}


/*           
                   
                INTRODUCTION START
    
*/
#introduction{
  
    width:99%;
    /* margin-top: 2vh; */
    height:80vh;
    
    display: flex;
    background-color: darkcyan;
   
    align-items: center;
    margin: auto;
   
}
#intro__title{
    width:50%;
    text-align: center;
    animation-name:introAnimation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    
    
}
#intro__title>p{
    width: 70%;

    margin: auto;
    font-weight: 600;
    color:whitesmoke;
}
.highlight {
    font-size: 4vmin;
    color: rgb(255, 166, 0);
    
}
@keyframes introAnimation {
    from {opacity: 0.2;}
    to {opacity: 1;}
  }
#intro__image{
    width: 50%;
    max-height: 100%;
    overflow:hidden;
    
    
    
    
}
#intro__image>img{
    max-width: 100%;
    /* padding: 20px; */
    min-height: 70vmin;
    max-height: 100%;
    display: block;
    border-radius: 100px;
}

@media screen and (max-width: 600px)
{
    .navbar{
        background-image:linear-gradient(to right,rgb(246, 253, 253),rgb(221, 247, 248),darkcyan); 
    }
    #introduction{
        flex-direction: column;
    }
    #intro__title{
        margin-top: 10vmin;
        width: 100%;
        margin-bottom: 13vmin;
    }
    #intro__image{
        width: 98%;
        
    }
    #intro__image>img{
        border-radius: 50px;
    }
}

/*           
                   
                INTRODUCTION END
    
*/

/*           
                   
                FORM START
    
*/
#form__section{
    width:99%;
    margin-top: 10px;
    height:80vh;
    margin: auto;
    margin-top: 2px;
    min-height: max-content;
    /* border: 3px solid red; */
    background-color: #f8f7f7;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    /* position: relative; */
}
#form__fill{
    width: 40%;
    height: 70%;
    margin-top: 2em;
    /* background-color:#f1efef; */
    text-align: center;
    /* position: absolute; */
}
#form__fill>form{
    
    width: 60%;
    height: 100%;
    border-radius: 12px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #FFFFFF;
    padding: 5vmin;
}
#form__fill>form *{
    width: 90%;
    flex-grow: 1;
    border-radius: 10px;
    border: 0.1px solid whitesmoke;
}
#form__fill>form *:focus{
    border: 1px solid cyan;
    outline: none;

}
#form__warnings{
    color:red;
}
#form__submit{
    margin-top: 1em;
}
#form__right{
    width: 60%;
    /* background-color: lightcoral; */
    /* position: absolute; */
    /* left:50%; */
    padding: 5vmin;
    height: 100%;
}
#form__right>h1{
    font-size: 2em;
    text-align: center;
    text-shadow:1px 1px grey;
    font-family: 'Muli', sans-serif;
    margin-bottom: 5vmin;
    overflow: hidden;
}

.form__right__heading{
    font-size: 1.3em;
    /* font-weight: bold; */
    text-shadow:1px 1px black;
    color:cyan;
}
.form__right__content{
    font-size: 1em;
    text-shadow:2px 2px white;
    color:black;
}
@media screen and (max-width: 700px){
    
    #form__section{
        flex-direction: column;
        height: fit-content;
    }
    #form__fill{
        width:100%;
    }
    #form__fill>form{
        padding: 0vmin;
    }
    #form__fill>form *{
        width: 90%;
        height: 3em;
        align-content: stretch;
       
    }
    #form__right{
        margin-top:2em;
        width:100%;
    }

}
.fas {
    /* color:rgb(247, 80, 80); */
    color:rgb(216, 210, 210);
}

/*           
                   
                FORM END
    
*/

/*           
                   
                FAQ START

*/

#faq{
    width:99%;
    /* margin-top: -20px; */
    height:max-content;
    margin: auto;
    background-color: #f8f7f7;
    margin-top: 2px;
    /* border:1px solid red; */
}
#faq__heading{
    
    width:100%;
    height: 4%;
    /* background-color: rgb(252, 206, 206); */
    
}
#faq__heading__items{
    text-align: center;
    padding:3em 0px;
}
#faq__heading__items h1{
    color:#ff7d00;
}
#faq__content{
    width: 91%;
    margin: auto;
    height: max-content;
    background-color:  #f8f7f7;
    display: flex;
    flex-direction: row;
    /* margin-bottom: 10em; */
    /* margin: 0px auto 5px; */
    /* padding: 10vmin; */
}
#faq__content__col1{
    width: 50%;
}
#faq__content__col2{
    width: 50%;
    display: block;
}
.faq__content__items{
    width: 90%;
    /* background-color: #fcf9f9; */
    cursor:pointer;
    margin: auto;
}
.faq__content__items>h4{
    font-size: 1.2em;
}
.faq__answers{
    font-size: 0.8em;
    color: black;
    display: none;
}
.faq__answers__visible{
    font-size: 0.8em;
    text-shadow: 1px 1px rgb(252, 213, 203);
    display:block ;

}
.viewMore{
    text-align: center;
    margin-bottom: 2px;
    display: none;
    /* background-color: red; */
}
.btn-warning {
    background-color:#ff7d00;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .open .dropdown-toggle.btn-warning {
    background-color:#ff7d00;
}

/* 
.btn-warning:hover{

background-color:#f7d6b8;
} */

@media screen and (max-width: 700px){
    #faq__content{
        flex-direction: column;
    }
    #faq__content__col1{
        width: 100%;
    }
    #faq__content__col2{
        width: 100%;
        display: none;
    }
    .viewMore{
        display: block;
    }
}
/*           
                   
                FAQ END
    
*/
/*           
                   
                Type ofservice start
    
*/


#Service{
    width: 99%;
    background-color: #f8f7f7;
    height: 85vh;
    margin: auto;
    margin-top: 5px;
    /* display: flex;
    flex-direction: column; */
}
#Service__heading{
    width:90%;
    height: 15%;
    margin: auto;
    text-align: center;
    
    /* background-color: blueviolet; */
    
}
#Service__heading p{
    padding: 10px;
    font-size: 5vh;
    font-weight:500;
    text-shadow: 1px 1px rgb(255, 255, 254);

}
#Service__items{
    width:100%;
    height: 85%;
    margin: auto;
    /* background-color: darkgoldenrod; */
    /* background-color: #f8f7f7; */
    display: flex;
    flex-direction: row;
    
}
@media screen and (max-width: 700px){
    #Service{
        height: max-content;
    }
    #Service__items{
        flex-direction: column;
    }


}
.Service__item1{
    
    width:50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* background-color: rgb(23, 232, 240); */

}
.Service__item2{
    width:50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(90, 92, 92); */
    
}
.Service__item1>img{
    width: 80%;
    height: 65%;
    display: block;
    margin: auto;
    border: 1px solid darkcyan
    
   
    /* border-radius: 50%; */
    /* margin-top: 20px; */

}
.Service__item2>img{
    width: 80%;
    height: 65%;
    display: block;
    margin: auto;
    border: 1px solid darkcyan;

}
.Service__description{
    width: 90%;
    text-align: center;
}
.Service__description__heading{
    font-size: 3vh;
    font-weight: 500;
    color:rgb(255, 196, 0);
    text-shadow:0.5px 0.5px black;
}
.Service__description__body{
    font-weight: 300;
}



@media screen and (max-width: 700px){
    #Service{
        height: max-content;
    }
    #Service__items{
        flex-direction: column;
    }
    .Service__item1{
    
        width:100%;
    }
    .Service__item2{
    
        width:100%;
    }
    .Service__item2>img{
        min-height: 35vh;
    }

}
/*           
                   
                type of service END
    
*/



/*------------------------------------------------------------------
         FOOTER
-------------------------------------------------------------------*/

.footer-area {
    margin-top: 10px;
    padding-top: 50px;
  }
  
  .bg-f {
    background-color: #111111;
  }
  
  .footer-area .container {
    position: relative;
    z-index: 1;
  }
  
  .footer-area h3 {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    border-bottom: 2px solid rgba(207, 166, 113, 0.5);
    margin-bottom: 10px;
  }
  
  .footer-area p {
    font-size: 15px;
    color: #ffffff;
    margin: 0;
    padding-bottom: 10px;
  }
  
  .footer-area p.lead {
    font-size: 19px;
    color: #ffffff;
    margin-bottom: 0px;
  }
  
  .footer-area p.lead a {
    color: #ffffff;
    margin-bottom: 15px;
  }
  
  .footer-area p.lead a:hover {
    color: #111111;
  }
  
  .footer-area p a {
    font-size: 18px;
    color: #ffffff;
  }
  
  .footer-area p a:hover {
    color: #fffb00;
  }
  
  .f-social {
    padding-bottom: 10px;
    margin: 0px;
    margin-top: 20px;
  }
  
  .f-social li a {
    font-size: 18px;
    color: #111111;
    width: 38px;
    height: 38px;
    display: block;
    text-align: center;
    line-height: 38px;
    background: #ffffff;
    border-radius: 4px;
  }
  
  .f-social li a:hover {
    color: #ffffff;
    background-color: #111111;
  }
  
  .copyright {
    margin-top: 20px;
    position: relative;
    display: block;
    background-color: #111111;
    color: #ffffff;
    padding: 30px 0;
    z-index: 1;
  }
  
  .copyright .company-name {
    font-size: 16px;
    text-align: center;
  }
  
  .copyright p,
  .copyright p a {
    color: #ffffff;
  }
  