html {
  scroll-behavior: smooth;
}

.navbar {
  background-image: linear-gradient(
    to right,
    white 3%,
    rgb(21, 139, 139),
    white
  );
}

@media (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: none;
  }
  .navbar .nav-item:hover .nav-link {
    color: #ffffff;
  }
  .navbar .nav-item:hover .dropdown-menu {
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .navbar {
    background-image: linear-gradient(
      to right,
      rgb(240, 250, 250) 25%,
      darkcyan
    );
  }
}

.nav-link {
  font-size: 18px;
}

/* intro */

.introduction {
  display: flex;
}

.intro_text h2 {
  color: rgb(255, 166, 0);
}

.search-box {
  background-color: #ffffff;
  border: 5px solid #ffffff;
  border-radius: 50px;
  width: 100%;
  padding: 0px 15px;
  box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.15);
}

.btn.search a {
  color: #fff;
  text-decoration: none;
  background-color: #008a8a;
  border-radius: 50%;
}
.service-box {
  background: #ffffff;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 15px;
  padding: 25px;
  box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.15);
}
.service-desc h5 {
  font-size: 14px;
  color: #000000;
  padding: 10px 0px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
}
.service-info h3 {
  font-size: 28px;
  color: #000000;
  font-weight: 100;
  padding-top: 10px;
  /* padding-bottom: 10px; */
}

.header-subtitle {
  padding-bottom: 25px;
  font-size: 45px;
  font-weight: 700;
  left: 50px;
  color: #000000;
}
.header-title {
  padding-top: 30px;
  padding-left: 5px;
  translate: uppercase;
  font-size: 30px;
  color: #000000;
}
.header a {
  padding: 14px;
  font-weight: bold;
  color: #ffffff;
}
.service-box .fa {
  font-size: 55px;
  color: #008a8a;
  padding-top: 15px;
}
.col-12 {
  padding-top: 25px;
}
.btn.view {
  background-color: #008a8a;
  padding: 10px;
  border-radius: 55px;
}
.btn.view a {
  color: #ffffff;
}
.motto {
  display: flex;
}

.contactform {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.15);
  width: 100%;
  height: auto;
}
.contactform h3 {
  font-size: 30px;
  color: #008a8a;
  font-weight: 500;
}
.contactform .inputbox {
  position: relative;
  width: 100%;
  margin-top: 10px;
}
.contactform .inputbox input {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: 0;
  border-bottom: 2px solid #000;
  outline: none;
}
.contactform .inputbox textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: 0;
  border-bottom: 2px solid #000;
  outline: none;
  height: 130px;
}
.contactform .inputbox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666666;
}
.contactform .inputbox input:focus ~ span,
.contactform .inputbox input:valid ~ span,
.contactform .inputbox textarea:focus ~ span,
.contactform .inputbox textarea:focus ~ span {
  color: #000;
  transform: translateY(-20px);
  font-size: 16px;
}
.contactform .btn.send {
  background-color: #008a8a;
  border-radius: 55px;
}
.contactform .btn.send a {
  color: #fff;
  padding: 1%;
}



/*------------------------------------------------------------------
         FOOTER
-------------------------------------------------------------------*/

.footer-area {
  margin-top: 10px;
  padding-top: 50px;
}

.bg-f {
  background-color: #111111;
}

.footer-area .container {
  position: relative;
  z-index: 1;
}

.footer-area h3 {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  border-bottom: 2px solid rgba(207, 166, 113, 0.5);
  margin-bottom: 10px;
}

.footer-area p {
  font-size: 15px;
  color: #ffffff;
  margin: 0;
  padding-bottom: 10px;
}

.footer-area p.lead {
  font-size: 19px;
  color: #ffffff;
  margin-bottom: 0px;
}

.footer-area p.lead a {
  color: #ffffff;
  margin-bottom: 15px;
}

.footer-area p.lead a:hover {
  color: #111111;
}

.footer-area p a {
  font-size: 18px;
  color: #ffffff;
}

.footer-area p a:hover {
  color: #fffb00;
}

.f-social {
  padding-bottom: 10px;
  margin: 0px;
  margin-top: 20px;
}

.f-social li a {
  font-size: 18px;
  color: #111111;
  width: 38px;
  height: 38px;
  display: block;
  text-align: center;
  line-height: 38px;
  background: #ffffff;
  border-radius: 4px;
}

.f-social li a:hover {
  color: #ffffff;
  background-color: #111111;
}

.copyright {
  margin-top: 20px;
  position: relative;
  display: block;
  background-color: #111111;
  color: #ffffff;
  padding: 30px 0;
  z-index: 1;
}

.copyright .company-name {
  font-size: 16px;
  text-align: center;
}

.copyright p,
.copyright p a {
  color: #ffffff;
}
/* #contact{
  margin: auto;
  text-align: center;
  background-color: aliceblue;
} */